<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado - Empleados <div class="float-right">
          <a href="empleados/agregar-empleado"><button class="btn btn-success">Agregar</button></a></div>
        </h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 300px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>C&eacute;dula</th>
              <th>Nombre Completo</th>
              <th>Tel&eacute;fono</th>
              <th>Edad</th>
              <th>Estado Civil</th>
              <th>Direcci&oacute;n</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each empleados}}
            <tr>
              <td>{{Cedula}} </td>
              <td>{{Nombre}} {{Nombre2}} {{Apellido_1}} {{Apellido_2}}</td>
              <td>{{Telefono}}</td>
              <td>{{timeago Fecha_nacimiento}}</td>
              <td>{{Estado_civil}}</td>
              <td>{{Municipio}}-{{Barrio}}-C{{Calle}}-#{{Carrera}}</td>
              <td>
                <a href="/empleados/editar/{{Cedula}}/{{Codigo}}"><button class="btn btn-info">Editar</button></a>
                <a href="/empleados/eliminar/{{Cedula}}/{{Codigo}}"><button class="btn btn-danger">Eliminar</button></a>
              </td>
            </tr>
            {{else}}
          <tbody>
            <tr>
              <div class="col-md-6 mx-auto mt-3">
                <div class="card card-body text-center">
                  <p>No hay empleados registrados.</p>
                  <a href="/empleados/agregar-empleado">Agregar</a>
                </div>
              </div>
            </tr>
          </tbody>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>