<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado - Clientes
          <div class="float-right">
            <a href="clientes/agregar-cliente"><button class="btn btn-success">Agregar</button></a>
          </div>
        </h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 300px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap" id="mytable">
          <thead>
            <tr>
              <th>Identificaci&oacute;n</th>
              <th>Nombre Completo</th>
              <th>Tel&eacute;fono</th>
              <th>Direcci&oacute;n</th>
              <th>Acciones</th>
            </tr>
          </thead>
          {{#each cliente}}
          <tbody>
            <tr>
              <td>{{identificacion}}</td>
              <td>{{Nombre}} {{Apellidos}}</td>
              <td>{{Telefono}}</td>
              <td>{{Municipio}}-{{Barrio}}-{{Carrera}}-{{Calle}}</td>
              <td>
                <a href="/clientes/editar/{{identificacion}}/{{direccion}}"><button
                    class="btn btn-info">Editar</button></a>
                <a href="/clientes/eliminar/{{identificacion}}/{{direccion}}"><button
                    class="btn btn-danger">Eliminar</button></a>
              </td>
            </tr>
            {{else}}
          <tbody>
            <tr>
              <div class="col-md-6 mx-auto mt-3">
                <div class="card card-body text-center">
                  <p>No hay clientes registrados.</p>
                  <a href="/clientes/agregar-cliente">Agregar</a>
                </div>
              </div>
            </tr>
          </tbody>
          {{/each}}
          </tbody>
        </table>
        <div class="card-footer clearfix">
          <ul class="pagination  m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>