<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Inventario<div class="float-right">
            <a href="/inventario/agregar-pieza"><button class="btn btn-success">Agregar Pieza</button></a>
          </div>
        </h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 300px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>C&oacute;digo</th>
              <th>Nombre</th>
              <th>Categor&iacute;a</th>
              <th>Cantidad</th>
              <th>Stock</th>
              <th>Valor Unitario</th>
              <th>Valor Costo</th>
              <th>VP Costo</th>
              <th>VP Unitario</th>
              <th>Utilidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          {{#each pieza}}
          <tbody>
            <tr>
              <td>{{Codigo}}</td>
              <td>{{Nombre}} </td>
              <td>{{Categoria}}</td>
              <td>{{Cantidad}}</td>
              <td>{{Stock}}</td>
              <td>{{Valor_unitario}}</td>
              <td>{{Valor_costo}}</td>
              <td>{{Valor_parcial_costo}}</td>
              <td>{{Valor_parcial_unitario}}</td>
              <td>{{Utilidad}}</td>
              <td>
                <a href="/inventario/editar/{{Codigo}}"><button class="btn btn-info">Editar</button></a>
                <a href="/inventario/eliminar/{{Codigo}}"><button class="btn btn-danger">Eliminar</button></a>
              </td>
            </tr>
            {{else}}
          <tbody>
            <tr>
              <div class="col-md-6 mx-auto mt-3">
                <div class="card card-body text-center">
                  <p>No hay piezas registradas.</p>
                  <a href="/inventario/agregar-pieza">Agregar</a>
                </div>
              </div>
            </tr>
          </tbody>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>